@font-face {
  font-family: gotham_l;
  src: url("./assests/Gotham-Light.9fc514ca.otf");
}

@font-face {
  font-family: gotham_m;
  src: url("./assests/Gotham-Medium.026843f9.otf");
}

@font-face {
  font-family: gotham-b;
  src: url("./assests/Gotham-Bold.095c652d.otf");
}

.gotham_l {
  font-family: gotham_l;
}

.gotham_m {
  font-family: gotham_m;
}

.gotham_b {
  font-family: gotham_b;
}
